

/* Container Geral */
.pageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color : var(--primary-color);
  padding: 20px;
  font-family: var(--font-family);
}

/* Card de Registro */
.registerCard {
  background-color: var(--white);
  padding: 40px 30px;
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 600px;
  text-align: center;
}

/* Título */
.title {
  font-size: 32px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

/* Grupo de Inputs */
.inputGroup {
  margin-bottom: 20px;
  text-align: left;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: var(--text-color);
}

.input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  transition: border-color var(--transition-speed), box-shadow var(--transition-speed);
}

.input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
  outline: none;
}

/* Botão */
.button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-speed);
  margin-top: 10px;
}

.button:hover {
  background-color: #2980b9;
}

/* Link para Login */
.loginLink {
  margin-top: 20px;
  font-size: 14px;
  color: var(--text-color);
}

.link {
  background: none;
  border: none;
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}



/* Mensagens */
.error {
  color: var(--error-color);
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.success {
  color: var(--success-color);
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}
