:root {
  --primary-color: #212D40;
  --secondary-color: #2980b9;
  --text-color: #11151C;
  --bg-color: #ffffff;
  --white: #fff;
  --border-radius: 8px;
  --transition-speed: 0.3s;
  --font-family: "Poppins", sans-serif;
}

/* Layout Geral */
.pageContainer {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 2rem 4rem;
}

/* Seção de Herói */
.heroSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  height: 80dvh;
  background-color:var(--primary-color);
  color: var(--white);
  border-radius: var(--border-radius);
}

.heroContent {
  flex: 1;
  max-width: 600px;
  margin: 20px;
  text-align: left;
}

.heroTitle {
  font-size: 48px;
  margin-bottom: 20px;
  color: var(--white);
}

.heroSubtitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.heroDescription {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.heroButtons {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.ctaButton,
.outlineButton {
  padding: 14px 28px;
  font-size: 16px;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  transition: background-color var(--transition-speed), color var(--transition-speed);
}

/* Botão CTA */
.ctaButton {
  background-color: var(--white);
  color: var(--primary-color);
  font-weight: 600;
}
.ctaButton:hover {
  background-color: #ecf0f1;
}

/* Botão com Borda */
.outlineButton {
  background-color: transparent;
  border: 2px solid var(--white);
  color: var(--white);
  font-weight: 600;
}
.outlineButton:hover {
  background-color: var(--white);
  color: var(--primary-color);
}

.heroImageWrapper {
  flex: 1;
  max-width: 500px;
  margin: 20px;
  text-align: center;
}

.heroImage {
  width: 100%;
  max-width: 500px;
}

/* Seções Gerais */
.sectionContainer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 20px;
  text-align: center;
  border-radius: var(--border-radius);
}

.sectionTitle {
  font-size: 32px;
  margin-bottom: 30px;
  color: var(--text-color);
}

.sectionText {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #555;
}

/* Sobre */
.aboutSection {
  background-color: var(--white);
  margin-bottom: 50px;
  padding: 50px 20px;
  border-radius: var(--border-radius);
}

/* Recursos (Features) */
.featuresSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  background-color:var(--primary-color);
  color: var(--white);
  height: 80dvh;
  border-radius: var(--border-radius);
}
.featuresSection h2{
  color: var(--white);
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.featureCard {
  background-color: var(--white);
  padding: 30px 20px;
  border-radius: var(--border-radius);
  text-align: center;
  transition: transform var(--transition-speed);
}

.featureCard:hover {
  transform: translateY(-3px);
}

.featureIcon {
  width: 60px;
  margin-bottom: 15px;
}

.featureTitle {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.featureText {
  font-size: 16px;
  color: #666;
}

/* Depoimentos (Testimonials) */
.testimonialsSection {
  background-color: var(--white);
  margin-bottom: 50px;
  border-radius: var(--border-radius);
  padding: 50px 20px;
}

.testimonialsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

.testimonialCard {
  display: grid;
  place-items: center;
  background-color:var(--primary-color);

  padding: 20px;
  border-radius: var(--border-radius);
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .4);
}

.testimonialAvatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.testimonialText {
  font-size: 16px;
  color: #f1f1f1;
  margin-bottom: 10px;
}

.testimonialAuthor {
  font-size: 14px;
  color: #93daf0;
  font-weight: bold;
}

/* Seção de Contato */
.contactSection {
  margin-bottom: 50px;
  padding: 60px 20px;
  background-color:var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--white);
  text-align: center;
}

.contactSection h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: var(--white);
}

.contactSection p {
  font-size: 16px;
  margin-bottom: 30px;
  color: var(--white);
}

/* Formulário de Contato */
.contactForm {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formInput,
.formTextarea {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  background-color: var(--white);
  color: var(--text-color);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.formInput:focus,
.formTextarea:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
  outline: none;
}

::placeholder {
  color: #aaa;
  font-style: italic;
}


/* Botão do formulário */
.contactForm button {
  padding: 14px 28px;
  font-size: 16px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--white);
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
  transition: background-color var(--transition-speed), color var(--transition-speed);
}

.contactForm button:hover {
  background-color: var(--secondary-color);
  color: var(--white);
}
