
/* Container com fundo gradiente */
.pageContainer {
  min-height: 100dvh;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color : var(--primary-color);
  padding: .8rem;
  font-family: var(--font-family);
}

/* Card central para o formulário de login */
.loginCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 1rem 6rem;
  border-radius: var(--border-radius);
  width: 100%;
}

/* Título */
.title {
  font-size: 32px;
  color: var(--primary-color);
}

/* Formulário */
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Inputs */
.input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  transition: border-color var(--transition-speed);
}

.input:focus {
  border-color: var(--primary-color);
  outline: none;
}

/* Botão */
.button {
  padding: 14px;
  font-size: 16px;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-speed);
}

.button:hover {
  background-color: #2980b9;
}

/* Texto para registrar */
.registerText {
  font-size: 14px;
  margin-top: 20px;
  color: var(--text-color);
}

/* Botão de link para registro */
.registerLink {
  background: none;
  border: none;
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}

.registerLink:hover{
  background: none;
  color: var(--secondary-color);
}

/* Mensagem de erro */
.error {
  color: var(--error-color);
  font-size: 14px;
  margin-bottom: 10px;
}

.formSection{
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100%;
  background-color: var(--white);
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}
.contentSection{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  padding: 4rem;
  width: 50%;
  height: 100%;
  background-color: var(--primary-color);
  top: 0;
  left: 0;
  transition: all 500ms;
}

.contentSection h1{
  text-align: left;
  font-size: 3rem;
  color: var(--white);
}
.contentSection p{
  text-align: left;
  font-size: 1rem;
  color: var(--white);
}

.contentSection img{
  width: 27rem;
}
.right{
  transform: translateX(100%);
}

.left{
  transform: translateX(0%);
}
.contentSection .logo{
  width: 32px;
  filter: invert();
  margin-right: 1rem;
}

.contentSection .logoTitle{
  color: var(--white);
  font-size: 1.5rem;
  font-weight: bold;
}