
/* Container com fundo gradiente */
.pageContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color : var(--primary-color);
  padding: 20px;
  font-family: var(--font-family);
}

/* Card central para o formulário de login */
.loginCard {
  background-color: var(--white);
  padding: 40px;
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* Título */
.title {
  font-size: 32px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

/* Formulário */
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Inputs */
.input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  transition: border-color var(--transition-speed);
}

.input:focus {
  border-color: var(--primary-color);
  outline: none;
}

/* Botão */
.button {
  padding: 14px;
  font-size: 16px;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-speed);
}

.button:hover {
  background-color: #2980b9;
}

/* Texto para registrar */
.registerText {
  font-size: 14px;
  margin-top: 20px;
  color: var(--text-color);
}

/* Botão de link para registro */
.registerLink {
  background: none;
  border: none;
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

/* Mensagem de erro */
.error {
  color: var(--error-color);
  font-size: 14px;
  margin-bottom: 10px;
}
