.container{
  display: flex;
  width: 100%;
  padding: .5rem;
  border-radius: 12px;
  border: 1px solid;
  gap: .8rem;
  justify-content: space-around;
}

.exit{
  outline: none;
  cursor: pointer;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50px;
  transition: background-color 300ms;
  background-color: #dd2626;
}

.exit:hover{
  background-color: #dd2626;
}

.exit:hover img{
  width: 100%;
  object-fit: fill;
  filter: invert(1);
  animation: shake ease 300ms;
}

@keyframes shake {
  0%{
    transform: rotate(30deg);
  }
  50%{
    transform: rotate(-30deg);
  }
  100%{
    transform: rotate(0deg);
  }
}