/* Estilo para o LinkButton */
.link {
  display: inline-block;
  padding: 0.5rem 1.2rem;
  font-size: .8rem;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color 0.2s, color 0.2s;
  color: #EFF6EE !important;
}
.link:hover {
  border: 1px solid #007aff;
}

/* Estilo para o RegularButton */
.regular {
  font-size: 1rem;
  padding: 8px 16px;
  border: 1px solid #007bff;
  border-radius: 4px;
  background-color: #007bff;
  color: #EFF6EE;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.regular:hover:not(:disabled) {
  background-color: #0056b3;
  border-color: #004085;
}

.regular:disabled {
  background-color: #ccc;
  border-color: #aaa;
  cursor: not-allowed;
}

.regular:disabled:hover {
  background-color: #ccc;
  border-color: #aaa;
}
